<div class="like_button_on">
    <%= link_to "いいね済み", likes_delete_path(post_id: @post.id), {method: "post", remote: true} %>
    <%= @like_count %>
</div>
<div class="like_button">
    <%= link_to "いいね", likes_create_path(post_id: @post.id), {method: "post", remote: true} %>
    <%= @like_count %>
</div>